#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #dce8fc;
}

.App {
  width: 80vw;
  display: flex;
  height: 30vh;
  padding-bottom: 100px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #ffff;
  border-radius: 10px;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

input {
  background: white;
  padding: 10px;
  width: 100%;
  border: 1px solid #999999;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  outline: none;
  font-weight: 300;
  cursor: pointer;
}

span {
  font-size: 13px;
  display: block;
  padding-bottom: 5px;
}
.rccs__card--unknown > div {
  background: #dce8fc;
}

.card {
  z-index: 10;
  width: 290px;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
}

.submit {
  background-color: #3a4fcf;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.submit:hover {
  background-color: #263283;
}

.submit:active {
  background-color: #263283;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
