#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd2476, #ff512f);
}

.App {
  width: 1000px;
  display: flex;
  height: 30vh;
  padding-bottom: 100px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #ffff;
  border-radius: 10px;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

input {
  background: #f9f9f9;
  padding: 10px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  outline: none;
  font-weight: 300;
}

.rccs__card--unknown > div {
  background: #75c9a5;
}

.card {
  z-index: 10;
  width: 290px;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
}

.submit {
  background-color: #3a4fcf;
  color: white;
}
